<div class="row">
    <div class="box">
        <div class="col-lg-12">
          <div class="container">
            <div class="col-md-1"></div>
            <div id="table-responsive" class="col-md-10">
              <h1>Novo Estudante</h1>

              <%= render 'form' %>

              <%= link_to 'Voltar', students_path,class: "btn btn-info" %>

            </div>
          </div>
      </div>
    </div>
</div>
